:root {
  /* Primary */
  --blue: hsl(246, 80%, 60%);
  --work-bg: hsl(15, 100%, 70%);
  --play-bg: hsl(195, 74%, 62%);
  --study-bg: hsl(348, 100%, 68%);
  --exercise-bg: hsl(145, 58%, 55%);
  --social-bg: hsl(264, 64%, 52%);
  --self-care-bg: hsl(43, 84%, 65%);

  /* Neutral */
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);
}

.mode {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    overflow: hidden;
    background-color: white;
    border-radius: 15px;
}

.track-cont {
    color: white;
    background-color: var(--dark-blue);
    padding: 1.5rem;
    z-index: 1;
    border-radius: 15px;
}

.track-cont .upper-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;
}

.track-cont .upper-part h5 {
    font-weight: 500;
}

.track-cont .upper-part input:hover {
    opacity: 55%;
}

.track-cont h1 {
    font-weight: 300;
    font-size: 45px;
    margin-bottom: 5px;
}

.track-cont p {
    color: var(--pale-blue);
}

.Work {
    background-color: var(--work-bg);
}

.Work::after {
    content: url(/images/icon-work.svg);
    position: absolute;
    top: -10px;
    right: 15px;
}

.Play {
    background-color: var(--play-bg);
}

.Play::after {
    content: url(/images/icon-play.svg);
    position: absolute;
    top: -10px;
    right: 15px;
}

.Study {
    background-color: var(--study-bg);
}

.Study::after {
    content: url(/images/icon-study.svg);
    position: absolute;
    top: -10px;
    right: 15px;
}

.Exercise {
    background-color: var(--exercise-bg);
}

.Exercise::after {
    content: url(/images/icon-exercise.svg);
    position: absolute;
    top: -10px;
    right: 15px;
}

.Social {
    background-color: var(--social-bg);
}

.Social::after {
    content: url(/images/icon-social.svg);
    position: absolute;
    top: -10px;
    right: 15px;
}

.Self {
    background-color: var(--self-care-bg);
}

.Self::after {
    content: url(/images/icon-self-care.svg);
    position: absolute;
    top: -10px;
    right: 15px;
}

@media screen and (max-width: 768px) {
    .mode {
        height: 160px;
    }

    .track-cont .upper-part {
        margin-bottom: 0.5rem;
    }

    .lower-part {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .lower-part h1 {
        font-size: 32px;
    }


}